<ion-header>
  <ion-navbar>
    <ion-title>
      Todo
    </ion-title>
      <ion-buttons end>
        <button ion-button (click)="toggleReorder()" *ngIf="!reorderIsEnabled">Edit</button>
        <button ion-button (click)="toggleReorder()" *ngIf="reorderIsEnabled">Done</button>
        <button ion-button (click)="addTodoAlert()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list [reorder]="reorderIsEnabled" (ionItemReorder)="reorderItems($event)">
    <ion-item-sliding *ngFor="let todo of toDos">
        <ion-item>{{todo}}</ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="removeTodo(todo)">
              <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="goToArchive()">
      <ion-icon name="archive"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
<!-- <ion-content padding>

  <iframe class= 'webPage' name= "samplePage" src="https://tejarahworld.com/">
  </iframe>

</ion-content> -->
